#content {
    max-width: 100%;
    height: 100%;
}

#introduction-text {
    align-content: center;
}

#projects {
    margin: 0 20px;
}

#self-name {
    font: var(--mat-sys-headline-large);
    text-align: left;
    margin-bottom: 20px;
}

#logo {
    vertical-align: baseline;
    margin: auto;
    width: 300px;
    height: 300px;
    // border: 1px solid red;
}

.logo-img {
    width:100%;
    
}