#content {
    max-width: 100%;
    height: 100%;
}

#introduction {
    padding-top: 100px;
    padding-bottom: 100px;
    // padding-left: 15%;
    // padding-right: 15%;
}
.section {
    margin-top: 20px;
    margin-bottom: 20px;
}
#project-spacer {
    color: var(--mat-sys-primary);
    background-color: var(--mat-sys-inverse-primary);
}
.text {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1em;
    font-weight: lighter;
    text-align: left;
    margin: auto;
}

#self-name {
    font: var(--mat-sys-headline-large);
    text-align: left;
    margin-bottom: 20px;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

.two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.section-spacer {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-title {
    margin: auto;
    text-align: center;
    font: var(--mat-sys-headline-large);
    vertical-align: baseline;
}

#logo {
    vertical-align: baseline;
    margin: auto;
    width: 150px;
    height: 150px;
    border: 1px solid red;
}
