.content {
    max-width: 100%;
}
.text {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1em;
    font-weight: lighter;
    text-align: left;
    margin: auto;
}

#page-title {
    font-size: 4em;
    margin: 15px;
    text-align: center;
    font-weight: lighter;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
}