#content {
    max-width: 100%;
    height: 100%;
}

#introduction {
    padding-top: 100px;
    padding-bottom: 100px;
    // padding-left: 15%;
    // padding-right: 15%;
}
.section {
    margin-top: 20px;
    margin-bottom: 20px;
}
#project-spacer {
    color: var(--mat-sys-primary);
    background-color: var(--mat-sys-inverse-primary);
}
.text {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1em;
    font-weight: lighter;
    text-align: left;
    margin: auto;
}

#self-name {
    font: var(--mat-sys-headline-large);
    text-align: left;
    margin-bottom: 20px;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    max-width: 100%;
}

.row {
    display: grid;
    gap: 20px;
    justify-content: center;
}
.two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 0;
    min-width: 0;
    .column {
        overflow: hidden;
    }
}

.three-column {
    display: grid;
    gap:20px;
    grid-template-columns: 1fr 1fr 1fr;
    // grid-template-rows: 500px;
    max-width: 100%;
    min-height: 0;
    min-width: 0;
    .column {
        overflow: hidden;
    }
}

.section-spacer {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-title {
    margin: auto;
    text-align: center;
    font: var(--mat-sys-headline-large);
    vertical-align: baseline;
}

#logo {
    vertical-align: baseline;
    margin: auto;
    width: 300px;
    height: 300px;
    // border: 1px solid red;
}

.logo-img {
    width:100%;
    
}