@use '@angular/material' as mat;
#nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--mat-sys-primary-container);
    a { 
        color: var(--mat-sys-on-primary-container);
    }
    padding: 8px 10%;
    justify-content: flex-end;
}

#nav-links {
    display: flex;
    flex-direction: row;
    // gap: 10px;
}

#nav-name {
    flex-grow: 1;
    color: var(--mat-sys-on-primary-container);
}

:host {
    @include mat.button-overrides((
        filled-container-color: var(--mat-sys-primary-container),
        filled-ripple-color: var(--mat-sys-primary-fixed-dim)
    ));
}

.active {

    @include mat.button-overrides((
        filled-container-color: var(--mat-sys-primary-fixed-dim),
    ));
}