@use '@angular/material' as mat;
#nav-bar {
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 99;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--mat-sys-primary-container);
    a { 
        color: var(--mat-sys-on-primary-container);
    }
    padding: 8px 10%;
    justify-content: flex-end;
}

#nav-links {
    display: flex;
    flex-direction: row;
    // gap: 10px;
}

#nav-name {
    flex-grow: 1;
    color: var(--mat-sys-on-primary-container);
}
#nav-spacer {
    height: 56px;
}

:host {
    @include mat.button-overrides((
        filled-container-color: var(--mat-sys-primary-container),
        filled-ripple-color: var(--mat-sys-primary-fixed-dim),
        filled-state-layer-color: var(--mat-sys-primary)
    ));
}

.active {
    @include mat.button-overrides((
        filled-container-color: var(--mat-sys-primary-fixed-dim),
    ));
}