/* defaults */
html {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Work Sans';
    padding: 0;
    margin: 0;
}

a:link, a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover {
    color: rgb(156, 4, 4);
    transition: .2s;
    text-decoration: underline;
}
a {
    font-size: 1.2em;
}

::-moz-selection { 
    background: rgb(73, 73, 73);
    color: #f1f1f1;
}
::selection { 
    background: rgb(73, 73, 73); 
    color: #f1f1f1;
}

/* nav bar */
#navbar {
    overflow: hidden;
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    z-index: 20;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    box-shadow: 0px 3px 6px black;
    height: 50px;
    
}

#navbar a {
    font-size: 1.1em;
    color: #000000;
    text-decoration: none;
    transition: .2s;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

#navbar a:hover {
    background-color: #555555;
    color: #f9f9f9;
}

.nav_left {
    position: absolute;
    padding-left: 200px;
    height: 100%;
    display: flex;
    flex-direction: row;
    
}

.nav_name {
    margin-left: 20px;
}
.nav_name:hover {
    background-color: #f1f1f1 !important;
    color: #555555 !important;
}
.nav_right {
    display: flex;
    flex-direction: row;
    position: absolute;
    height: 100%;
    right: 80;
    margin-right: 50px;
}

.current_page {
    color: #f9f9f9 !important;
    background-color: rgb(39, 39, 39);
}


/* title box */

.title_box {
    position: relative;
    justify-content: center;
    background: none;
    top: 0;
    overflow: hidden;
}
.name_box {
    border-bottom: 3px solid #f1f1f1;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    
    
}

.title_background {
    background-image: url("..\\images\\keyboard.jpeg");
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    filter: blur(6px);
    -webkit-filter: blur(6px);
    height: 55%;
    /* for gradient background 
    background: rgb(6,6,6);
    background: linear-gradient(0deg, rgba(6,6,6,1) 0%, rgba(57,57,57,1) 100%); 
    */
}

.name {
    font-size: 90px;
    font-weight: bolder;
    color: white;
    text-align: center;
    text-shadow: 4px 4px 6px rgba(44, 44, 44, 0.795);
    background: none;
}

.description {
    color: white;
    text-align: center;
    font-weight: lighter;
}


/* misc */

.debug {
    border-width: 2px;
    border-style: solid;
    border-color: greenyellow;
}

/**********************/


/* table of contents */
.toc_title {
    font-size: 1.5em;
}
.toc_c {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.toc {
    margin: 5px;
    padding: 10px;
}
.toc_c a {
    margin: 5px;
    padding: 10px;
}

/**********************/



/* page content */
#body_content {
    min-height: 100%;
    margin-top: 50px;
}
.content {
    font-weight: lighter;
    text-align: center;
    justify-content: center;
    margin-top: 4%;
    min-height: 100%;
}

.content_title {
    font-size: 4em;
    margin: 15px;
}

.content_body {
    margin: auto;
    font-size: 1em;
    max-width: 50%;
    padding-bottom: 100px;
}

.about_me {
    text-align: left;
    line-height: 30px;
}

.title {
    font-size: 2em;
    padding-top: 60px;
}

.text {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1em;
    font-weight: lighter;
    text-align: left;
}

.tech_title {
    font-size: 1.2em;
    font-weight: bold;
    text-align: left;
    margin-top: 5px;
}

/**********************/


/* footer */

#footer {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: row;
    padding: 12px;
    padding-left: 100px;

}

.images {
    position: relative;
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
}

.images img {
    margin: auto;
    border: 2px solid black;
    display: none;
    max-width: 100%;
}

.button-left {
    position: absolute;
    left: 0;
    top: 50%;
}
.button-right { 
    position: absolute;
    right: 0;
    top: 50%;
}