@use '@angular/material' as mat;
#card {
    width: 250px;
    height: 250px;
}

#project-description {
    margin-top: 10px;
}

.clickable {
    cursor: pointer;
    user-select: none;
    @include mat.card-overrides((
        outlined-outline-color: black,
    ));
}

:host {
    :hover {
        @include mat.card-overrides((
            filled-container-elevation: var(--mat-sys-level2),
        ));
    }
}
