@use '@angular/material' as mat;
#card {
    width: 250px;
    height: 250px;
}

#project-description {
    margin-top: 10px;
}

:host {
    // height: 100%;
    padding: 5px;
    :hover {
        cursor: pointer;
        @include mat.card-overrides((
            outlined-container-elevation: var(--mat-sys-level2),
            // outlined-container-color: red
            outlined-outline-color: black,
        ));
    }
}