@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
:host {
    height: 100%;
    display: block;
}
#root {
    height: 100%;
}

#app {
    height: 100%;
    display: flex;
    flex-direction: column;
}
#app-content {
    flex-grow: 1;
    width: 80%;
    box-shadow: var(--mat-sys-level1);
    background-color: var(--mat-sys-surface);
    margin: auto;
}
