
.challenge-title {
    align-content: center;
    text-align: center;
    font: var(--mat-sys-headline-large);
    height: 100%;
    width: 100%;
}

.description {
    padding: 20px;
    background-color: var(--mat-sys-surface-variant);
    color: var(--mat-sys-on-surface-variant);
    align-self: center;
}