@use '@angular/material' as mat;
#project-description {
    margin-top: 10px;
}
#card {
    height: 480px;
}

.preview-image {
    height: 360px;
    object-fit: cover;
    filter: opacity(90%) brightness(.5) blur(1px);
}

:host {
    // height: 100%;
    padding: 5px;
    @include mat.card-overrides((
        outlined-container-color: var(--mat-sys-surface-container-lowest),
    ));

    :hover {
        cursor: pointer;
        @include mat.card-overrides((
            outlined-container-elevation: var(--mat-sys-level2),
            outlined-outline-color: black,
        ));
    }
}

a {
    text-decoration: inherit;
    color: inherit;
}