@use 'scss/color-theme.scss';
@use 'scss/layout.scss';
@use 'scss/typography.scss';

@use '@angular/material' as mat;

html {
    color-scheme: light dark;
    height: 100%;
    @include mat.theme(
        (
            color: mat.$violet-palette,
            typography: 'Roboto',
        )
    );
}

body {
    height: 100%;
    font-family:
        'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24
}

.code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
    @include mat.dialog-overrides((
        container-max-width: 40vw,
        container-shape: var(--mat-sys-corner-medium)
    ));
}
