@use 'scss/color-theme.scss';

@use '@angular/material' as mat;

html {
    color-scheme: light dark;
    height: 100%;
    @include mat.theme(
        (
            color: mat.$violet-palette,
            typography: 'Roboto',
        )
    );
}

.dark-mode {
    color-scheme: dark;
}

.light-mode {
    color-scheme: light;
}

body {
    height: 100%;
    font-family:
        'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
}
ul.header {
    background-color: #111;
    padding: 0;
}
ul.header li a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}
/* .content {
    background-color: #FFF;
    padding: 20px;
} */
.content h2 {
    padding: 0;
    margin: 0;
}
.content li {
    margin-bottom: 10px;
}
