
.alt-section {
    color: var(--mat-sys-primary);
    background-color: var(--mat-sys-inverse-primary);
    padding-top: 20px;
    padding-bottom: 20px;
}

.section {
    padding-top: 20px;
    padding-bottom: 20px;
}

.text {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1em;
    font-weight: lighter;
    text-align: left;
    margin: auto;
}

.flex-column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.row {
    display: grid;
    gap: 20px;
    justify-content: center;
}

.two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 325px; 
    min-height: 0;
    min-width: 0;
    .column {
        overflow: hidden;
    }
}

.three-column {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    // grid-template-rows: 500px;
    max-width: 100%;
    min-height: 0;
    min-width: 0;
    .column {
        overflow: hidden;
    }
}
.three-rows {
    display: grid;
    gap: 20px;
    // grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    max-height: 100%;
    min-height: 0;
    min-width: 0;
    .column {
        overflow: hidden;
    }
}
.section-title {
    text-align: center;
    font: var(--mat-sys-headline-large);
    vertical-align: baseline;
}