@use '@angular/material' as mat;

/* Typography */
:root, :host {
    /* core typography tokens are not generating css variables, hence below */
    --mat-sys-brand-font-family: Roboto;
    --mat-sys-plain-font-family: Roboto;
    --mat-sys-bold-font-weight: 700;
    --mat-sys-medium-font-weight: 500;
    --mat-sys-regular-font-weight: 400;

    @include mat.theme-overrides((
        brand-family: Roboto,
        plain-family: Roboto,
        bold-weight: 700,
        medium-weight: 500,
        regular-weight: 400,
        headline-large-font: var(--mat-sys-brand-font-family),
        headline-medium-font: var(--mat-sys-brand-font-family),
        headline-small-font: var(--mat-sys-brand-font-family),
        display-large-font: var(--mat-sys-brand-font-family),
        display-medium-font: var(--mat-sys-brand-font-family),
        display-small-font: var(--mat-sys-brand-font-family),
        title-large-font: var(--mat-sys-brand-font-family),
        body-large: var(--mat-sys-body-large-weight) var(--mat-sys-body-large-size) / var(--mat-sys-body-large-line-height) var(--mat-sys-body-large-font),
        body-medium: var(--mat-sys-body-medium-weight) var(--mat-sys-body-medium-size) / var(--mat-sys-body-medium-line-height) var(--mat-sys-body-medium-font),
        body-small: var(--mat-sys-body-small-weight) var(--mat-sys-body-small-size) / var(--mat-sys-body-small-line-height) var(--mat-sys-body-small-font),
        label-large: var(--mat-sys-label-large-weight) var(--mat-sys-label-large-size) / var(--mat-sys-label-large-line-height) var(--mat-sys-label-large-font),
        label-medium: var(--mat-sys-label-medium-weight) var(--mat-sys-label-medium-size) / var(--mat-sys-label-medium-line-height) var(--mat-sys-label-medium-font),
        label-small: var(--mat-sys-label-small-weight) var(--mat-sys-label-small-size) / var(--mat-sys-label-small-line-height) var(--mat-sys-label-small-font),
        title-large: var(--mat-sys-title-large-weight) var(--mat-sys-title-large-size) / var(--mat-sys-title-large-line-height) var(--mat-sys-title-large-font),
        title-medium: var(--mat-sys-title-medium-weight) var(--mat-sys-title-medium-size) / var(--mat-sys-title-medium-line-height) var(--mat-sys-title-medium-font),
        title-small: var(--mat-sys-title-small-weight) var(--mat-sys-title-small-size) / var(--mat-sys-title-small-line-height) var(--mat-sys-title-small-font),
        headline-large: var(--mat-sys-headline-large-weight) var(--mat-sys-headline-large-size) / var(--mat-sys-headline-large-line-height) var(--mat-sys-headline-large-font),
        headline-medium: var(--mat-sys-headline-medium-weight) var(--mat-sys-headline-medium-size) / var(--mat-sys-headline-medium-line-height) var(--mat-sys-headline-medium-font),
        headline-small: var(--mat-sys-headline-small-weight) var(--mat-sys-headline-small-size) / var(--mat-sys-headline-small-line-height) var(--mat-sys-headline-small-font),
        display-large: var(--mat-sys-display-large-weight) var(--mat-sys-display-large-size) / var(--mat-sys-display-large-line-height) var(--mat-sys-display-large-font),
        display-medium: var(--mat-sys-display-medium-weight) var(--mat-sys-display-medium-size) / var(--mat-sys-display-medium-line-height) var(--mat-sys-display-medium-font),
        display-small: var(--mat-sys-display-small-weight) var(--mat-sys-display-small-size) / var(--mat-sys-display-small-line-height) var(--mat-sys-display-small-font),
        body-large-font: var(--mat-sys-plain-font-family),
        body-medium-font: var(--mat-sys-plain-font-family),
        body-small-font: var(--mat-sys-plain-font-family),
        label-large-font: var(--mat-sys-plain-font-family),
        label-medium-font: var(--mat-sys-plain-font-family),
        label-small-font: var(--mat-sys-plain-font-family),
        title-medium-font: var(--mat-sys-plain-font-family),
        title-small-font: var(--mat-sys-plain-font-family),
        label-large-weight-prominent: var(--mat-sys-bold-font-weight),
        label-medium-weight-prominent: var(--mat-sys-bold-font-weight),
        label-large-weight: var(--mat-sys-medium-font-weight),
        label-medium-weight: var(--mat-sys-medium-font-weight),
        label-small-weight: var(--mat-sys-medium-font-weight),
        title-medium-weight: var(--mat-sys-medium-font-weight),
        title-small-weight: var(--mat-sys-medium-font-weight),
        body-large-weight: var(--mat-sys-regular-font-weight),
        body-medium-weight: var(--mat-sys-regular-font-weight),
        body-small-weight: var(--mat-sys-regular-font-weight),
        display-large-weight: var(--mat-sys-regular-font-weight),
        display-medium-weight: var(--mat-sys-regular-font-weight),
        display-small-weight: var(--mat-sys-regular-font-weight),
        headline-large-weight: var(--mat-sys-regular-font-weight),
        headline-medium-weight: var(--mat-sys-regular-font-weight),
        headline-small-weight: var(--mat-sys-regular-font-weight),
        title-large-weight: var(--mat-sys-regular-font-weight),
    ));
}